<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head.ejs %>
	</head>
	<body>
		<% include partials/header.ejs %>
		<div class="pageContainer">
			<h3><%= title %></h3>
			<p>You may be trying to access a page or squad that does not exist!</p>
			<p>
				Please be sure your squad URL is correct or start over on the
				<a class="normalTextLink" href="/">home page</a>.
			</p>
		</div>
	</body>
</html>
