<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head.ejs %>
	</head>
	<body>
		<% include partials/header.ejs %>
		<a href="/squads/new">Create New Squad</a>
		<% include partials/footer.ejs %>
	</body>
</html>
