<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head.ejs %>
	</head>
	<body>
		<div class="pageContainer">
			<% include partials/header.ejs %>
			<h3>Form a New Squad</h3>
			<form action="/squads" method="POST" id="newSquadForm">
				<textarea
					rows="20"
					cols="30"
					name="names"
					form="newSquadForm"
					placeholder="List of names, each on a new line"
				></textarea>
				<input type="submit" value="Create Squad" />
			</form>
			<footer>
				<% include partials/footer.ejs %>
			</footer>
		</div>
	</body>
</html>
