<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head.ejs %>
		<script
			defer
			src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"
		></script>
		<script defer src="/js/dragula.js"></script>
		<script defer src="/js/popper.js"></script>
		<!-- <script defer src="/js/tooltip.min.js"></script> -->
		<script defer src="/js/viewSquad.js"></script>
		<style>
			#squadIndex {
				display: none;
			}
		</style>
	</head>
	<body>
		<% include partials/header.ejs %>
		<div class="pageContainer">
			<div id="squadIndex"><%= foundSquad.id %></div>
			<div id="main">
				<div id="squadDiv"></div>
			</div>
			<footer>
				<% include partials/footer.ejs %>
			</footer>
			<div id="editTitlePopup" class="tooltipDiv">
				<a class="tooltipButton" id="startTitleEdit">edit</a>
			</div>
			<div id="editNamesPopup" class="tooltipDiv">
				<a class="tooltipButton" id="markNameAbsent">toggle absense</a>
				<!-- <div class="divider">|</div>
				<a class="tooltipButton" id="editName">edit</a> -->
				<div class="divider">|</div>
				<a class="tooltipButton" id="removeName">remove</a>
			</div>
		</div>
	</body>
</html>
