@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:100,100i,300,300i,400,400i,600,600i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap');

:root {
	--main-color: #9f9f9f;
	--main-darker-color: #4a4a4a;
	--main-lighter-color: #d3d3d3;
	--contrast-color: #faf4ed;
	--main-highlight-color: #848484;
	--contrast-highlight-color: #ede9e4;
	--contrast-color-old: #fdf3e7;
	--blue: #abd5df;
	--green: #9bc9b2;
	--salmon: #fa9575;
}

* {
	font-family: 'Josefin Slab', serif;
}

.pageContainer {
	max-width: 1200px;
	margin: 3% auto 0 auto;
	padding: 0 5%;
}

body {
	background-color: var(--contrast-color);
}

#headings {
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
}
h1,
h2 {
	color: var(--contrast-color);
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 7vw;
	font-weight: 600;
}

h2 {
	font-weight: 200;
	font-size: 2.2vw;
}

h3 {
	color: var(--main-color);
}

#headerDiv {
	margin: 1% 1%;
}

#headerText {
	font-weight: 600;
	/* font-size: 3rem; */
	display: inline;
}

#headerLogo {
	padding-top: 7px;
	margin-right: 6px;
	height: 30px;
	display: inline-block;
	pointer-events: none; /* need this to make link clickable on object */
}

#tagline {
}

.bold {
	font-weight: 600;
	font-style: italic;
}

#brainButtons {
	position: absolute;
	width: 100%;
	top: 59%;
	left: 0;
	right: 0;
	z-index: 1;
	text-align: center;
}

.homeButton {
	display: block;
	margin: 1% auto;
}

button {
	width: 20vw;
}

footer {
	text-align: center;
	margin-top: 5%;
}

#homefooter {
}

#madeBy {
	font-family: 'Oswald', sans-serif;
	color: var(--main-color);
}

a {
	color: var(--blue);
	font-family: 'Oswald', sans-serif;
}

a:hover {
	color: var(--main-color);
}

#createForm {
	padding: 0 35%;
	display: none;
}

#lastCreatedSquadButton {
	display: none;
}

#createTextArea {
	height: 300px;
}

#newSquadForm {
	text-align: center;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	font-family: 'Oswald', sans-serif;
	background-color: var(--main-color);
	border: 0.1rem solid var(--main-color);
	border-radius: 0.4rem;
	color: var(--contrast-color);
	cursor: pointer;
	display: inline-block;
	font-size: 1.1rem;
	font-weight: 700;
	height: 3.8rem;
	letter-spacing: 0.1rem;
	line-height: 3.8rem;
	padding: 0 3rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type='button']:focus,
input[type='button']:hover,
input[type='reset']:focus,
input[type='reset']:hover,
input[type='submit']:focus,
input[type='submit']:hover {
	font-family: 'Oswald', sans-serif;
	background-color: var(--main-highlight-color);
	border-color: var(--main-highlight-color);
	color: var(--contrast-color);
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='color'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='datetime'],
input[type='datetime-local'],
input:not([type]),
textarea,
select {
	background-color: transparent;
	border: 0.1rem solid var(--main-color);
	border-radius: 0.4rem;
	box-shadow: none;
	box-sizing: inherit;
	height: 3.8rem;
	padding: 0.6rem 1rem;
	width: 100%;
}

input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
input[type='color']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='week']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input:not([type]):focus,
textarea:focus,
select:focus {
	border-color: var(--main-color);
	outline: 0;
}

#namesContainer {
	/* background-color: var(--main-color); */
	border: 1px solid var(--main-color);
	border-radius: 0.4rem;
	display: flex;
	/* flex-wrap: wrap; */
	flex-direction: column;
	/* padding: 1%; */
	padding: 2vw 6vw;
	justify-content: space-evenly;
	width: 42.5vw;
	margin-right: 1vw;
}

.individualNamesContainer {
	/* background-color: var(--contrast-color); */
	color: var(--main-color);
	font-weight: 400;
	width: 50%;
	/* min-width: 200px; */
	/* margin: 1%; */
	/* padding: 1%; */
	cursor: pointer;
}

.individualNamesContainer p {
	margin: 0;
	padding: 0;
	/* font-family: 'Oswald', sans-serif; */
}

#showGroupForm {
	/* margin-top: 4%; */
	/* padding: 0 30%; */
	padding: 2vw 6vw;
	width: 42.5vw;
	border: 1px solid var(--main-color);
	border-radius: 0.4rem;
	margin-left: 1vw;
}

.draggableContainer {
	width: 30%;
	background: lightgrey;
	margin: 2% 0;
	display: flex;
	flex-wrap: wrap;
	padding: 1vw;
	justify-content: space-evenly;
	align-items: flex-start;
	align-content: flex-start;
	/* border: 0.1rem solid var(--main-color); */
	border-radius: 0.4rem;
}

.nameDiv {
	width: 100%;
	margin: 1vw;
	padding: 1vw;
	cursor: grab;
	display: block;
	background-color: var(--contrast-color);
	align-self: flex-start;
	/* border: 0.1rem solid var(--main-color); */
	border-radius: 0.4rem;
}

#combinationsDiv {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	/* padding: 1vw; */
}

#buildGroupsButtonDiv,
#saveGroupsForm,
#squadNameDiv,
#generateGroupsTitleDiv {
	text-align: center;
}

#squadDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* flex-wrap: wrap; */
}

.buttonFill {
	background-color: var(--contrast-color);
	border-color: var(--contrast-color);
	color: var(--main-color);
}

.buttonFill:hover {
	background-color: var(--green);
	border-color: var(--green);
	color: var(--contrast-color);
}

.buttonImportant {
	color: var(--green);
}

#groupSizeSubmit {
	margin-top: 5%;
}

#groupSizeSubmit {
	background-color: var(--green);
	border-color: var(--green);
	color: var(--contrast-color);
}

#groupSizeSubmit:hover {
	background-color: var(--contrast-color);
	border-color: var(--green);
	color: var(--green);
}

/* .buttonFillColor {
	background-color: var(--green);
	border-color: var(--green);
	color: var(--contrast-color);
}

.buttonFillColor:hover {
	background-color: var(--contrast-color);
	border-color: var(--green);
	color: var(--green);
} */

/* HIDE ARROWS ON NUMBER INPUT FIELD */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type='number'] {
	-moz-appearance: textfield;
}

#showCombinationsParentDiv {
	margin-top: 5%;
	border: 1px solid var(--main-color);
	border-radius: 0.4rem;
}

#editNameIcon {
	display: inline-block;
	width: 20px;
	margin-left: 1vw;
	/* padding-top: 10px; */
	/* position: absolute;
	transform: translate(15vw, -5vw); */
	pointer-events: none; /* need this to make link clickable on object */
	cursor: crosshair;
}

#squadTitle {
	display: inline-block;
	cursor: pointer;
}

.tooltipDiv {
	cursor: pointer;
	border: 1px solid var(--main-color);
	border-radius: 0.4rem;
	height: 25px;
	line-height: 23px;
	padding: 0 10px;
	font-size: 1.2rem;
	font-weight: 700;
	text-transform: uppercase;
}

.tooltipButton {
	color: var(--green);
	margin: 0;
}
.divider {
	/* position: absolute; */
	display: inline;
	color: var(--main-color);
	/* border: solid 0.5px red; */
	/* margin-right: -10px; */
	/* height: 25px; */
}

#markNameAbsent {
	color: var(--blue);
}

#markNameAbsent:hover {
	color: var(--main-color);
}

#removeName {
	color: var(--salmon);
}

#removeName:hover {
	color: var(--main-color);
}

#divForNames {
	padding: 0;
	margin: 0;
}

#absent {
	color: var(--main-lighter-color);
}
