@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:100,100i,300,300i,400,400i,600,600i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap');

:root {
	--main-color: #9f9f9f;
	--contrast-color: #faf4ed;
	--contrast-color-old: #fdf3e7;
	--blue: #abd5df;
	--green: #9bc9b2;
	--salmon: #fa9575;
}

* {
	font-family: 'Josefin Slab', serif;
}

.pageContainer {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 5%;
}

body {
	background-color: var(--contrast-color);
}

#headings {
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
}
h1,
h2 {
	color: var(--contrast-color);
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 7vw;
	font-weight: 600;
}

h2 {
	font-weight: 200;
	font-size: 2.2vw;
}

h3 {
	color: var(--main-color);
}

#tagline {
}

.bold {
	font-weight: 600;
	font-style: italic;
}

#brainButtons {
	position: absolute;
	width: 100%;
	top: 57%;
	left: 0;
	right: 0;
	z-index: 1;
	text-align: center;
}

.homeButton {
	display: block;
	margin: 1% auto;
}

.buttonFill {
	background-color: var(--contrast-color);
	border-color: var(--contrast-color);
	color: var(--main-color);
	font-family: 'Oswald', sans-serif;
	/* color: black; */
	/* font-weight: 600; */
	/* font-size: 1.4rem; */
}

.buttonFill:hover {
	background-color: var(--main-color);
	border-color: var(--contrast-color);
	color: var(--contrast-color);
}

.buttonImportant {
	color: var(--green);
}

.buttonOutline.button-outline {
	background-color: transparent;
	color: var(--contrast-color);
	border-color: var(--contrast-color);
	font-family: 'Oswald', sans-serif;
}

.buttonOutline.button-outline:hover {
	background-color: var(--contrast-color);
	border-color: var(--contrast-color);
	color: var(--main-color);
}

button {
	width: 20vw;
}

footer {
	text-align: center;
}

#homefooter {
	position: absolute;
	width: 100vw;
	top: 90vw;
}

#madeBy {
	font-family: 'Oswald', sans-serif;
}

a {
	color: var(--blue);
	font-family: 'Oswald', sans-serif;
}
